<div class="answer_wrap">
    <h1>問題</h1>
    <div class="timer_area">
        <div class="timer"><i class="far fa-clock"></i>残り時間<span id="min">10</span>分<span id = second>0</span>秒</div>
    </div>
    <h2>問題を読み、最も正しいものを選んで解答してください</h2>
    <%= javascript_pack_tag 'countdownTimer' %>
    <div class="question2_wrap">
        <% a=0 %>
        <% number = 1 %>
        <%= form_tag(url:{controller:'questions',action:'result'}) do |f|  %>
            <% @questions.each do |obj| %>
                <% b=0 %>
                <div class="question">
                    <p class="number">第<%= number %>問:&nbsp;<%= obj.problem %></p>
                    <%= hidden_field_tag :proid[a], @id[a] %>
                    <% 4.times do %>
                    <div class="choices">
                        <p>
                            <%= check_box_tag :selfa[a],@answers[a][b],false,{} %>
                            <%= label_tag @answers[a][b]%>
                        </p>
                    </div>
                    <% b+=1 %>
                    <% end %>
                </div>
                <% a+=1 %>
                <% number +=1%>
            <% end %>
        <div class="end-btn">
            <%= submit_tag '解答終了',{class:'btn-sticky',id:'end'} %>
        </div>
        <% end %>
    </div>
</div>