<div class="result">
    <h1>解答結果</h1>
    <p>あなたの正解数は5問中<%= @correct %>問です。</p>
    <p><%= @msg %></p>
    <div class="model_answer">
    <p>正解確認</p>
        <table class="table">
        <% number = 1 %>
            <tr>    
                <th>No.</th>
                <th>問題</th>
                <th>正解</th>
            </tr>
            <% @questions.zip(@answers) do |question,answer| %>
                <tr>
                    <td><%= number %></td>
                    <td><%= question %></td>
                    <td><%= answer %></td>            
                </tr>
                <% number+=1 %>
            <% end %>
        </table>
    </div>
    <p class="btn"><a href="/questions/answer">もう一度挑戦</a></p>
    <p class="btn"><a href="/posts">タイムラインへ</a></p>
</div>