<div class="answer_wrap">
    <h1>問題</h1>
    <div class="timer_area">
        <div class="timer"><i class="far fa-clock"></i>残り時間<span id="min">10</span>分<span id = second>0</span>秒</div>
    </div>
    <h2>問題を読み、最も正しいものを選んで解答してください<br>英文は文をんだ後に問題分に相応しい回答を選択してください。</h2>
    <p>なお、一つの問題で２つ以上のチェックを入れると不正解になります。</p>
    <%= javascript_pack_tag 'countdownTimer' %>
    <div class="question2_wrap">
        <% question_num=0 %>
        <% number = 1 %>
        <%= form_with url: questions_result_path do |f|  %>
            <% @user_questions.each do |obj| %>
                <% choices=0 %>
                <div class="question">
                    <p class="number">第<%= number %>問:&nbsp;<%= obj.problem %></p>
                    <%= hidden_field_tag "question#{question_num}", @id[question_num] %>
                    <% 4.times do %>
                    <div class="choices">
                        <p>
                            <%= check_box_tag "selfanswer#{question_num}",@answers[question_num][choices],false,{class:'check'} %>
                            <%= label_tag @answers[question_num][choices]%>
                        </p>
                    </div>
                    <% choices+=1 %>
                    <% end %>
                </div>
                <% question_num+=1 %>
                <% number +=1%>
            <% end %>
        <div class="end-btn">
            <%= submit_tag '解答終了',{class:'btn-sticky',id:'end'} %>
        </div>
        <% end %>
    </div>
</div>