<div class="post-questions-list-wrap container col-xl-6 col-md-10">
    <h1>問題一覧</h1>
    <div class="explanation">
        <P>ユーザーが投稿した問題です。</P>
        <P>気になる問題があったらクリックorタップしてみよう！</P>
    </div>
    <ul class="lists">
        <% @post_questions.each do |post| %>
        <li class="list card">
            <div class="listhover">
                <a href="/posts/questions/start/<%=post.id%>">
                    <div class="image-name">
                        <div class="list-image">
                            <P><%=image_tag"#{post.user.image.thumb2.url}"%></P>
                        </div>
                        <div class="list-name">
                            <P class="question">問題名</P>
                            <P><%= post.name %></P>
                        </div>
                    </div>
                    <div class="list-detail">
                        <P class="explanation">問題説明</P>
                        <P><%= post.explanation %></P>
                    </div>
                </a>
            </div>
            <% if current_user.mylist_by?(post.id)%>
                <%= link_to "マイリストを解除", "/mylist/destroy/#{post.id}" %>
            <% else %>
                <%= link_to "マイリストに登録", "/mylist/create/#{post.id}" %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>