<div class="post-questions-list-wrap container col-xl-6 col-md-10">
    <h1>問題一覧</h1>
    <div class="explanation">
        <P>ユーザーが投稿した問題です。</P>
        <P>気になる問題があったらクリックorタップしてみよう！</P>
    </div>
    <ul class="lists">
        <% @post_questions.each do |post_question| %>
        <li class="list card">
            <div class="listhover">
                <a href="/posts/questions/start/<%=post_question.id%>">
                    <div class="image-name">
                        <div class="list-image">
                            <P><%=image_tag"#{post_question.user.image.thumb2.url}"%></P>
                        </div>
                        <div class="list-name">
                            <P class="question">問題名</P>
                            <P><%= post_question.name %></P>
                        </div>
                    </div>
                    <div class="list-detail">
                        <P class="explanation">問題説明</P>
                        <P><%= post_question.explanation %></P>
                    </div>
                </a>
            </div>
            <span id = "mylist_buttons_<%= post_question.id %>">                                            
            　<%= render "mylist/mylist", post_question: post_question %>
            </span>
        </li>
        <% end %>
    </ul>
</div>