<div class="post-questions-wrap">
    <div class="post-questions container">
        <h1>問題投稿</h1>
        <P>自分だけのオリジナル問題を作ろう！</P>
        <%= form_for(@post_question, url:{controller:'post_questions', action:'create'}) do |f| %>
            <div class="form-group">
                <%= f.label  :name, '問題名'%>
                <%= f.text_field :name, class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :explanation, '問題説明' %>
                <%= f.text_area :explanation, class:"form-control"%>
            </div>
            <%= f.fields_for :user_questions do |u| %>
                <div class="form-group">
                    <%= u.label :problem , '問題' %>
                    <%= u.text_area :problem %>
                </div>
                <div class="form-group">
                    <%= u.label :answer, '答え' %>
                    <%= u.text_field :answer %>
                </div>
                <div class="form-group">
                    <%= u.label :mistake1, '不正解１'%>
                    <%= u.text_field :mistake1 %>
                </div>
                <div class="form-group">
                    <%= u.label :mistake2, '不正解２'%>
                    <%= u.text_field :mistake2 %>
                </div>
                <div class="form-group">
                    <%= u.label :mistake3, '不正解３'%>
                    <%= u.text_field :mistake3 %>
                </div>
            <% end %>
                <div class="post-questions-btn">
                    <%=  f.submit '問題作成/投稿', {class:'btn-sticky'}%>
                </div>
        <% end %>
    </div>
</div>