<div class="post-questions-wrap">
    <div class="post-questions container">
        <h1>問題投稿</h1>
        <P>自分だけのオリジナル問題を作ろう！</P>
        <%= form_for(@post_question, url:{controller:'post_questions', action:'create'}) do |f| %>
            <div class="form-group">
                <%= f.label  :name, '問題名'%>
                <%= f.text_field :name, class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :explanation, '問題説明' %>
                <%= f.text_area :explanation, class:"form-control"%>
            </div>
            <div class="user_questions">
                <%= f.fields_for :user_questions do |form| %>
                    <%= render "user_question_fields",f: form %>
                <% end %>
            </div>

            <div id="detail-association-insertion-point"></div>

            <div class="links">
                <%= link_to_add_association "問題を追加",f,:user_questions, 
                    data: {
                        association_insertion_node: '#detail-association-insertion-point',
                        association_insertion_method: 'before'
                    }                    
                %>
            </div>
        <% end %>
        <a href="/posts/questions/mylist/<%= current_user.id%>">編集</a>
    </div>
</div>