<div class="profile-edit-wrap">
    <h1>プロフィール編集</h1>
    <div class="profile-edit container col-lg-6">
        <%= form_for(@user,url:{controller:'users',action:'update'}) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
            <label for="name">ニックネーム</label>
            <%= f.text_field :name,{class:'form-control'}%>
        </div>
         <div class="form-group">
            <label for="profile">自己紹介</label>
            <%= f.text_area  :profile,{class:'form-control'} %>
        </div>
        <div class="form-group">
            <label for="profile">目標</label>
            <%= f.text_area  :goal,{class:'form-control'} %>
        </div>
        <div class="form-group">
            <label for="image">画像選択</label>
            <input id="lefile" type="file" style="display:none">
            <div class="input-group">
                <input type="text" id="photoCover" class="form-control" placeholder="select file...">
                <span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="$('input[id=lefile]').click();">選択する</button></span>
            </div>
        </div>
        <div class="edit-btn">
            <%= f.submit "保存する" ,{class: 'btn-sticky'}%>
        </div>
        <% end %>
    </div>
</div>

<script>
    $('input[id=lefile]').change(function() {
        $('#photoCover').val($(this).val());
    });
</script>