<div class="mypage-wrap container">
    <h1>プロフィール</h1>
    <div class="content">
        <div class="image">
            <p><%= @user.name %></p>
            <%= image_tag "#{@user.image}" %>
        </div>
        <div class=" introduce">
            <p>自己紹介</p>
            <div class="box">
                <%= @user.profile %>
            </div>
            <div class="profifle-btn">
                <a class="btn-sticky" href="/users/edit/<%= @user.id%>">プロフィール編集</a>
            </div>
        </div>
    </div>
    <div class="data1">
        <h2>投稿一覧</h2>
        <table class="tbl-r02">
            <% @mydata.each do |obj| %>
            <tr>
                <td><%= obj.created_at %></td>
                <td><%= obj.content %></td>
                <td class="td"><a class="edit" href="/posts/edit/<%= obj.id %>"><i class="far fa-edit"></i>
                        <div class="edit-box">
                            <p class="text">編集</p>
                        </div>
                    </a></td>
                <td class="td"><a class="delete" href="javascript:delData(<%= obj.id %>)"><i class="far fa-trash-alt"></i>
                        <div class="delete-box">
                            <p class="text">削除</p>
                        </div>
                    </a></td>
            </tr>
            <%end %>
        </table>
    </div>
</div>
<script>
    function delData(num) {
        if (confirm('この投稿を削除しますか？')) {
            document.location = "/posts/delete/" + num;
        }
        return false;
    }
</script>