<div class="data">
<table class="table">
    <% @data.each do |obj| %>
    <tr>
        <td>画像</td>
        <td>なまえ</td>
        <td><%= obj.created_at %></td>
        <td><%= obj.content %></td>
    </tr>
    <% end %>
</table>
</div>
<div class="form">
<%= form_for(@post, url:{controller:'posts', action:'create'}) do |f| %>
    <div class="form_group">
        <label for="content">投稿内容</label>
        <%= f.text_area :content ,{class: "form-control"}%>
    </div>
    <%= f.submit "投稿" ,class:"btn btn-primary" %>
<% end %>
</div>